[submodule "libs/openFrameworks"]
	path = libs/openFrameworks
	url = git@github.com:PetrosKataras/openFrameworks.git
[submodule "libs/equalizer"]
	path = libs/equalizer
	url = git@github.com:PetrosKataras/Equalizer.git
